header {
    background-color: #343434;
    color: #ddd;
    padding-left:10px;
}
header strong,
header .search-holder{
    height:50px;
    line-height:50px;
}

header strong{
    font-size:21px;
}
header .button-holder {
    display: inline-block;
    margin-right:20px;
}
header .search-holder {
    float: right;
    padding: 0 10px;
}
.logo img {
    width: 30px;
    height :30px;
    transition: 0.15s linear all;
}
@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.logo:hover img {
    animation: app-logo-spin infinite 5s linear;
}
.show-active,
.form-search{
    display: inline-block;
    margin-right: 10px;
}
.form-search input[type=text]{
    padding-right: 30px;
    width:170px;
    height:25px;
    transition: 0.3s linear width;
}
.form-search.active input[type=text] {
    width:600px;
}

.form-search .clear {
    margin-left:-33px;
    font-size:16px;
    border: none;
}