.add-item {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 5px;
    overflow: hidden;
}
.add-item input[type=text] {
    margin-right:3px;
    vertical-align: middle;
}
.add-item button {
    height: auto;
    font-size: 16px;
    background: none;
    border: none;
    vertical-align: middle;
}