.category{
    line-height: 30px;
    padding:0 0 0 10px;
    overflow: hidden;
    border-bottom:1px solid #ddd;
}
button.fa.green {
    color: #018501;
}
button.fa.red {
    color: #a80202;
}
.category * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.category.no-children{
    padding-left:25px;
}
.category:last-child{
    border: none;
}
.category .input-holder {
    display: inline-block;
    max-width: 190px;
}
.category .input-holder .title {
    margin-right:3px;
}
.category .input-holder .edit {
    width: 150px;
}
.category input[type=checkbox] {
    float: right;
    margin-top: 10px;
}
.category .input-holder a.active {
    font-weight: bold;
    text-decoration: underline;
}
.category .title {
    cursor: default;
}
.category .title:hover,
.category .title.active{
    text-decoration: underline;
}
.category .title.active {
    font-weight:bold;
}
.actions-holder{
    float: right;
}
.category .opener{
    transform: rotate(90deg);
}
.category .opener.active{
    transform: rotate(0);
}