header {
    background-color: #343434;
    color: #ddd;
    padding-left:10px;
}
header strong,
header .search-holder{
    height:50px;
    line-height:50px;
}

header strong{
    font-size:21px;
}
header .button-holder {
    display: inline-block;
    margin-right:20px;
}
header .search-holder {
    float: right;
    padding: 0 10px;
}
.logo {
    cursor: default;
}
.logo img {
    width: 30px;
    height :30px;
    transition: 0.15s linear all;
}
@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.logo:hover img {
    animation: app-logo-spin infinite 5s linear;
}