header {
    background-color: #343434;
    color: #ddd;
}
header strong,
header .search-holder{
    height:50px;
    line-height:50px;
}

header strong{
    font-size:21px;
}
header .button-holder {
    display: inline-block;
    margin-right:20px;
}
header .search-holder {
    float: right;
    padding: 0 10px;
}
.logo {
    cursor: default;
}
.logo img {
    width: 30px;
    height :30px;
}
@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.logo:hover img {
    animation: app-logo-spin infinite 4s linear;
}
.toggle-sidebar.fa {
    background-color: transparent;
    font-size: 18px;
    border: none;
    color: #ddd;
    height: auto;
    padding: 0;
    margin: 0 0 0 10px;
}
.toggle-sidebar {
    transition: 250ms linear all;
}
.toggle-sidebar.active {
    transform: rotate(90deg);
}